<p id="notice"><%= notice %></p>

<% if I18n.locale.to_s() == "cn" %>
	<p>
	  <b><%= @product.name_cn %></b>
	</p>
	<p class="content">
		<%= @product.content_cn %>
	</p>
<% else %>
	<p>
	  <b><%= @product.name %></b>
	</p>
	<p class="content">
  		<%= @product.content %>
	</p>
<% end %>



