<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
	<b>Category:</b>
	<%= @product.category.name %>
	</p>

<p>
  <b>Img path:</b>
  <%= @product.img_path %>
</p>

<p>
  <b>Img path:</b>
  <%= image_tag @product.photo.url, :size => "200x200" %> 
</p>


<p>
  <b>Content:</b>
  <%= @product.content %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
