<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>China pride</title>
		<%= stylesheet_link_tag 'default' %>
	</head>
	<body>
		<div id="header">
			<%= render :file => 'layouts/_header' %>
			
		</div>
		
		<div id="main">			
			<div id="left_col">
				<div id="category">
					<h1><%= t :categories %></h1>
					<% unless @categories == nil %>
						<ul>
						<% @categories.each do |category| %>
						  <li>
						  	<% @query_id = params[:id].to_i() %>
						  	<% if params[:category_id] != nil %>
						  	    <% @query_id = params[:category_id].to_i() %>
						  	<% end %>
						  	<% if category.id == @query_id %>
						  	    <% if I18n.locale.to_s() == "cn" %>
						    		<td><%= link_to "#{category.name_cn}", category, {:style => 'background-color: #7C99C0; color: #fff;'} %></td>
						    	<% else %>
						    		<td><%= link_to "#{category.name}", category, {:style => 'background-color: #7C99C0; color: #fff;'} %></td>
						    	<% end %>
						    <% else %>
						    	<% if I18n.locale.to_s() == "cn" %>
						    		<td><%= link_to "#{category.name_cn}", category %></td>
						    	<% else %>
						    		<td><%= link_to "#{category.name}", category %></td>
						    	<% end %>
						    <% end %>
						  </li>
						<% end %>
						</ul>
					<% end %>
				</div> <!-- End of category -->
				
			</div>
			<div id="right_col">
				<%= yield %>
			</div>			
		</div>
					
		<div id="footer">
			<div>
				&copy; <b><%=t :copyright%></b> 2011<br />
			</div>			
		</div>
		
	</body>
</html>
