<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>China pride</title>
		<%= stylesheet_link_tag 'default' %>
	</head>
	<body>
		<div id="header">
			<div id="logo">
				<%=image_tag("logo.png")%>
			</div>			
			<div id="lang_selector">
				<% locales = {
				  "en" => "English",
				  "cn" => "中文"
				}%>

				<%=raw locales.collect{|k, v|
						link = link_to_unless(I18n.locale.to_s == k, v, params.merge(:locale => k)) do |name|
							"<strong>#{name}</strong>".html_safe
						end

						link
					}.join(" | ")%>
			</div>
			
			<div id="banner">
				<%=image_tag "banner.png", :width => "960px"%>
			</div>
			
			<div id="main_menu">
				<ul class="menu">
					<li><a href="/home/index"><%=t :homepage%></a></li>
					<li><a href="#">产 品</a></li>
					<li><a href="#">客 户</a></li>
					<li><a href="/about/index">关于我们</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
            </div>
		</div>
		
		<div id="main">
			<div id="left_col">
				Here's is left column!
			</div>
			<div id="right_col">
				<%= yield %>
			</div>			
		</div>
		
		<div id="footer">
			<div>
				版权所有：中国骄傲  Power by ChinaPride <br />
				联系电话：020-88888888  &nbsp;&nbsp; 传真：020-66666666 <br />
				公司地址：中国广东省广州市天河区珠江新城西塔11101号
			</div>
			
			<div>
				网站地图 | 联系我们 | English | 简体中文
			</div>			
		</div>
		
	</body>
</html>
